<div class="h-screen w-screen flex items-center justify-center bg-zinc-900">
  <div
    class="w-full max-w-sm min-h-160 max-h-5/6 mx-6 grid grid-cols-3 grid-rows-5 items-center justify-center gap-1 lg:gap-3"
  >
    @if (connected === 'connected') {
    <!-- Pairing and bass control -->
    <div class="row-span-1 col-span-1 h-full w-full">
      <app-control-button
        (click)="onPairingModeClick()"
        text="Pairing"
        icon="pair"
        iconSize="m"
      />
    </div>
    <div class="row-span-1 col-span-2 h-full w-full">
      <app-control-button
        text="Bass Control"
        icon="bass"
        iconSize="m"
      />
    </div>

    <!-- Play controls -->
    <div class="row-span-2 col-span-2 h-full w-full">
      <app-control-button
        (click)="onPlayPauseClick()"
        text="Play/Pause"
        icon="play"
        iconSize="l"
      />
    </div>
    <div class="row-span-1 col-span-1 h-full w-full">
      <app-control-button
        (click)="onVolumeUpClick()"
        text="Vol Up"
        icon="up"
        iconSize="m"
      />
    </div>
    <div class="row-span-1 col-span-1 h-full w-full">
      <app-control-button
        (click)="onVolumeDownClick()"
        text="Vol Down"
        icon="down"
        iconSize="m"
      />
    </div>

    <!-- Connection sources -->
    <div class="row-span-1 col-span-1 h-full w-full">
      <app-control-button
        (click)="onBluetoothClick()"
        text="Bluetooth"
        icon="bluetooth"
        iconSize="m"
      />
    </div>
    <div class="row-span-1 col-span-1 h-full w-full">
      <app-control-button
        (click)="onAuxClick()"
        text="AUX"
        icon="aux"
        iconSize="m"
      />
    </div>
    <div class="row-span-1 col-span-1 h-full w-full">
      <app-control-button
        (click)="onUsbClick()"
        text="USB"
        icon="usb"
        iconSize="m"
      />
    </div>

    <!-- Disconnect button -->
    <div class="row-span-1 col-span-3 h-full w-full">
      <app-control-button (click)="onDisconnectClick()" text="Disconnect" />
    </div>
    } @else {
    <div class="row-span-5 col-span-3 h-full w-full">
      <app-control-button
        (click)="onConnectClick()"
        text="Connect"
        icon="bluetooth"
        iconSize="xl"
      />
    </div>
    }
  </div>
</div>
