<div class="h-screen w-screen flex items-center justify-center bg-zinc-900">
  <div
    class="w-full max-w-sm min-h-160 max-h-5/6 mx-6 grid grid-cols-3 grid-rows-12 items-center justify-center gap-1"
  >
    @if (connected === 'connected') {
    <!-- Bass control -->
    <div class="row-span-1 col-span-3 h-full w-full">
      <app-control-button (click)="onBassControlClick()" text="Bass Control" />
    </div>

    <!-- First row -->
    <div class="row-span-2 col-span-1 h-full w-full"><!-- Spacer --></div>
    <div class="row-span-2 col-span-1 h-full w-full">
      @if (mode === 'volume') {
      <app-control-button
        (click)="onVolumeUpClick()"
        text="Volume Up"
        icon="louder"
        iconSize="m"
      />
      } @else {
      <app-control-button
        (click)="onBassUpClick()"
        text="Bass Up"
        icon="up"
        iconSize="m"
      />
      }
    </div>
    <div class="row-span-2 col-span-1 h-full w-full"><!-- Spacer --></div>

    <!-- Play controls -->
    <div class="row-span-2 col-span-1 h-full w-full">
      <app-control-button
        (click)="onPrevClick()"
        text="Prev"
        icon="prev"
        iconSize="m"
      />
    </div>
    <div class="row-span-2 col-span-1 h-full w-full">
      <app-control-button
        (click)="onPlayPauseClick()"
        text="Play/Pause"
        icon="play"
        iconSize="m"
      />
    </div>
    <div class="row-span-2 col-span-1 h-full w-full">
      <app-control-button
        (click)="onNextClick()"
        text="Next"
        icon="next"
        iconSize="m"
      />
    </div>

    <!-- Third row -->
    <div class="row-span-2 col-span-1 h-full w-full"><!-- Spacer --></div>
    <div class="row-span-2 col-span-1 h-full w-full">
      @if (mode === 'volume') {
      <app-control-button
        (click)="onVolumeDownClick()"
        text="Volume Down"
        icon="softer"
        iconSize="m"
      />
      } @else {
      <app-control-button
        (click)="onBassDownClick()"
        text="Bass Down"
        icon="down"
        iconSize="m"
      />
      }
    </div>
    <div class="row-span-2 col-span-1 h-full w-full"><!-- Spacer --></div>

    <!-- Connection sources -->
    <div class="row-span-2 col-span-1 h-full w-full">
      <app-control-button
        (click)="onBluetoothClick()"
        text="Bluetooth"
        icon="bluetooth"
        iconSize="m"
      />
    </div>
    <div class="row-span-2 col-span-1 h-full w-full">
      <app-control-button
        (click)="onAuxClick()"
        text="AUX"
        icon="aux"
        iconSize="m"
      />
    </div>
    <div class="row-span-2 col-span-1 h-full w-full">
      <app-control-button
        (click)="onUsbClick()"
        text="USB"
        icon="usb"
        iconSize="m"
      />
    </div>

    <!-- Pairing button -->
    <div class="row-span-1 col-span-3 h-full w-full">
      <app-control-button
        (click)="onPairingModeClick()"
        text="Bluetooth Pairing"
      />
    </div>

    <!-- Disconnect button -->
    <div class="row-span-2 col-span-3 h-full w-full">
      <app-control-button (click)="onDisconnectClick()" text="Disconnect" />
    </div>
    } @else {
    <div class="row-span-12 col-span-3 h-full w-full">
      <app-control-button
        (click)="onConnectClick()"
        text="Connect"
        icon="bluetooth"
        iconSize="xl"
      />
    </div>
    }
  </div>
</div>
